{% load static %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</head>
<body>
  {% if user.is_authenticated %}
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/goals">Goals</a></li>
        <li><a href="/net_worth_tracker">Net Worth Tracker</a></li>
      </ul>
    </div>
  </nav>
  <p><a href="{% url 'logout' %}" style="float: right;">Logout  </a></p>
  <p><a href = "/home" style="float: right;"> Home&nbsp;&nbsp;&nbsp;</a></p>
  {% endif %}
<br>
<br>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
